html, body { background: transparent; font-family: Arial, Sans-Serif; margin: 0; padding: 0; border: 0; color: #4f4e4e; }
h1, h2, h3 { font-weight: 400; }
a { color: #00979d; text-decoration: none; }
b { color: #005c5f; }
fieldset { border: 1px solid #00979c; }
ul { padding: 0; list-style-type: none; }
td { border-bottom: 1px solid #d5e9e9; }
.lt { text-align: left; }
.rt { text-align: right; }
.main { padding: 0 10px; font-size: 14px; }
.title { background: #008184; color: #ffffff; text-align: center; margin: 0; padding: 5px 0; }
.btn { background-color: #005c5f; border: 1px solid #005c5f; color: #ffffff; border-radius: 5px; padding: 5px 10px; box-shadow: none; }
.btnWeak { background: none; border: none; padding: 0; color: #00979d; }
